body {
	display: flex;
	background-color: #ffffff;
	font-family: "Segoe UI", Arial, sans-serif;
  	color: #333;
  	margin: 0;
	justify-content: center;
	flex-direction: column;
}

.Container{
	display: flex;
}
.Sidebar{
	width: 150px;
	background-color: #dcedc8;
	margin: 5px;
}

.Sidebar ul {
	list-style-type: none;
	padding: 15px;
}

.Sidebar li a {
	color: #fbc02d;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
}

.Sidebar li a:hover{
	color: #388e3c;
	text-decoration: underline;
	font-weight: bold;
	font-size: 13px;
}

.Sidebar li a:active{
	color: #1b5e20;
	text-decoration: underline;
	font-weight: none;
	font-size: 15px;
}

.Content{
	flex: 1;
	max-width: 350px;
	margin: 0 5px;
	display: flex;
	align-items:center;
	justify-content:center;
	background-color: #fffde7;
	
}
.Content iframe{
	display: none;
	border: 1px solid #c5e1a5;
}
#content1{
	display: block;
}

.TableCompare {
	max-width: 500px;
	padding: 5px;
	background-color: #fffde7;
	margin: 5px
}

table, tr, th, td {
	border: 1px solid #c5e1a5;
	border-collapse: collapse;
	padding: 5px;
	font-size: 10px;
}
footer{
	height:20px;
	width: 500px;
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 10px;
	background-color: #fffde7;
	color: #388e3c;
}
